<div class="card">
  <div class="card-header">
    <h4>{{tituloPagina}}</h4>
  </div>
  <div class="card-body"> 
    <div class="row">
      <form [formGroup]="clienteForm">

        <div class="mb-3 row">
          <label for="nombre" class="col-sm-2 col-form-label fw-bold">NOMBRE</label>
          <div class="col-md-10">
            <input type="text" class="form-control" formControlName="nombre">
            <button type="submit">AGREGAR</button>           
          </div>
        </div>

        <div class="mb-3 row">
          <label for="password" class="col-sm-2 col-form-label fw-bold">PASSWORD</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" formControlName="password">
            <button type="submit">OK</button>
          </div>
        </div>

        <div class="mb-3 form-check">
          <div class="mb-3 fw-bold">
            <input type="checkbox" formControlName="quiereContacto" (change)="toggleContacto()">¿QUIERES SER CONTACTADO?
          </div>
        </div>

        <div class="mb-3 row" *ngIf="quiereContacto">
          <label for="correo" class="col-sm-2 col-form-label fw-bold">E-MAIL</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="correo" formControlName="correo" aria-describedby="correoHelp">
            <div id="correoHelp" class="form-text">No compartiremos tu correo con nadie</div>
          </div>
        </div>
        
        <div class="mb-3 row" *ngIf="quiereContacto">
          <label for="telefono" class="col-sm-2 col-form-label fw-bold">TELEFONO</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="telefono" formControlName="telefono" aria-describedby="telefonoHelp">
            <div id="telefonoHelp" class="form-text">No compartiremos tu número con nadie</div>
          </div>
        </div>

      </form>
    </div>

    <div class="d-md-block">
      <button class="btn btn-primary" type="button" (click)="guardarCliente()">REGISTRAR</button>
    </div>
    <div class="d-md-block">
      <button class="btn btn-success" type="button" (click)="editarCliente(clientes)">EDITAR</button>
    </div>

  </div>
  <div class="card-footer text-center">
    <button class="btn btn-primary" style="width: 100px" (click)="goInicio()">HOME</button>
  </div>
</div>



