<div class="card">
  <div class="card-header">
    <h4>LISTA DE VEHÍCULOS</h4>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Filtro</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Marca"
        [(ngModel)]="filtro">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        FILTRADO POR {{filtro}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <a class="btn btn-success" [routerLink]="['/vehiculo/']">NUEVO VEHICULO</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">
                <button 
                  class="btn btn-sm"
                  [ngClass]="{'btn-warning':!this.mostrarImagenes, 'btn-info':this.mostrarImagenes}"
                  (click)="this.mostrarImagenes = !this.mostrarImagenes"
                  [innerText]="mostrarImagenes ? 'OCULTAR IMAGENES' : 'MOSTRAR IMAGENES'">
                </button>
              </th>
              <th>CODIGO</th>
              <th>MARCA</th>
              <th>MODELO</th>
              <th>ANIO</th>
              <th>COLOR</th>
              <th>KILOMETRAJE</th>
              <th>PRECIO</th>
              <th>CALIFICACIÓN</th>
              <th>ACCION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaVehiculos">
              <td>
                <img [src]="item.foto" *ngIf="item.foto && mostrarImagenes" style="width: 80px;">
              </td>
              <td>{{ item.codigo }}</td>
              <td [innerHTML]="item.marca"></td>
              <td>{{ item.modelo | lowercase | AEspacio:'-' }}</td>
              <td>{{item.anio}}</td>
              <td>{{ item.color }}</td>
              <td>{{ item.kilometraje }}</td>
              <td>{{ item.precio | currency }}</td>
              <td>{{item.calificacion}}</td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-info" [routerLink]="['/detalle/' + item.codigo]" >VER</button>
                  <button type="button" class="btn btn-info" [routerLink]="['/editar/' + item.codigo]">EDITAR</button>
                  <button type="button" class="btn btn-danger" (click)="eliminar(item.codigo)" >ELIMINAR</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
