<!--<div class="card">
  <div class="card-header">
    VEHICULO {{vehiculo?.marca}} {{vehiculo?.modelo}}
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-6">
        <div class="col-18">
          <img src="{{vehiculo?.foto}}" class="img-thumbnail img-fluid" width="600px">
        </div>
        <div class="mb-5 row"></div>
        <div class="col-sm-10 offset-sm-2">
          <button class="btn btn-primary" (click)="goBack()">REGRESAR</button>
        </div>
      </div>
      
      <div class="col-6">

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-3 col-form-label fw-bold">CODIGO</label>
          <div class="col-sm-8">
            {{vehiculo?.codigo}}
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-3 col-form-label fw-bold">MARCA</label>
          <div class="col-sm-8">
            {{vehiculo?.marca}}
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-3 col-form-label fw-bold">MODELO</label>
          <div class="col-sm-8">
            {{vehiculo?.modelo}}
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-3 col-form-label fw-bold">COLOR</label>
          <div class="col-sm-8">
            {{vehiculo?.color}}
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-3 col-form-label fw-bold">AÑO</label>
          <div class="col-sm-8">
            {{vehiculo?.anio}}
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-3 col-form-label fw-bold">KILOMETRAJE</label>
          <div class="col-sm-8">
            {{vehiculo?.kilometraje}}
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-3 col-form-label fw-bold">CALIFICACION</label>
          <div class="col-sm-8">
            <app-calificacion [calificacion]="vehiculo?.calificacion"></app-calificacion>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>-->

<p *ngIf="vehiculo">
  {{vehiculo.marca}}
</p>
<form [formGroup]="Formulario">
  <div>
    <div class="mb-3 row">
      <label for="staticCodigo" class="col-sm-2 col-form-label fw-bold">CODIGO</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo">
        <span class="text-danger" *ngIf="Formulario.controls['codigo'].errors?.['required']">Valor Requerido</span>
        <span class="text-danger" *ngIf="codigoControl && codigoControl.errors?.['pattern']">El código debe comenzar con una letra y estar seguido de tres dígitos</span>              
      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticCodigo" class="col-sm-2 col-form-label fw-bold">MARCA</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticCodigo" name="marca" formControlName="marca">
        <span class="text-danger" *ngIf="Formulario.controls['marca'].errors?.['required']">Valor Requerido</span>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticCodigo" class="col-sm-2 col-form-label fw-bold">MODELO</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticCodigo" name="modelo" formControlName="modelo">
        <span class="text-danger" *ngIf="Formulario.controls['modelo'].errors?.['required']">Valor Requerido</span>
      </div>
    </div>
    
    <div class="mb-3 row">
      <label for="staticCodigo" class="col-sm-2 col-form-label fw-bold">COLOR</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticCodigo" name="color" formControlName="color">
        <span class="text-danger" *ngIf="Formulario.controls['color'].errors?.['required']">Valor Requerido</span>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticCodigo" class="col-sm-2 col-form-label fw-bold">KILOMETRAJE</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticCodigo" name="kilometraje" formControlName="kilometraje">
        <span class="text-danger" *ngIf="Formulario.controls['kilometraje'].errors?.['required']">Valor Requerido</span>
        <span class="text-danger" *ngIf="kilometrajeControl && kilometrajeControl.errors?.['pattern']">Este campo solo acepta números</span>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticCodigo" class="col-sm-2 col-form-label fw-bold">PRECIO</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticCodigo" name="precio" formControlName="precio">
        <span class="text-danger" *ngIf="Formulario.controls['precio'].errors?.['required']">Valor Requerido</span>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticCodigo" class="col-sm-2 col-form-label fw-bold">AÑO</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticCodigo" name="anio" formControlName="anio">
        <span class="text-danger" *ngIf="Formulario.controls['anio'].errors?.['required']">Valor Requerido</span>
        <span class="text-danger" *ngIf="anioControl && anioControl.errors?.['pattern']">Este campo solo acepta 4 digitos</span>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="staticCodigo" class="col-sm-2 col-form-label fw-bold">CALIFICACION</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticCodigo" name="calificacion" formControlName="calificacion">
        <span class="text-danger" *ngIf="Formulario.controls['calificacion'].errors?.['required']">Valor Requerido</span>
        <span class="text-danger" *ngIf="calificacionControl && calificacionControl.errors?.['pattern']">Este campo solo acepta 1 dígito</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" (click)="guardar()">GUARDAR</button>
    </div>
  </div>
</form>
